<div class='centered-content'>
    <h2>{{productLine.title}}</h2>

    <p>{{productLine.description}}</p>
    <div class='line'></div>

    <div class='product-grid'>
        {{#each productLine.products as |product|}}
        <img src={{concat '/assets/catalog/' productLine.name '/' product}}
             {{action set 'activeProduct' product}}/>
        {{/each}}
    </div>
</div>

{{#if activeProduct}}
    <div class='overlay'></div>
    <div class='img-container'>
        <i class='material-icons clear-button' {{action set 'activeProduct' null}}>clear</i>

        <i class='material-icons back-button' {{action 'previousProduct'}}>navigate_before</i>
        <img class='focus' src={{concat '/assets/catalog/' productLine.name '/' activeProduct}}/>
        <i class='material-icons next-button' {{action 'nextProduct'}}>navigate_next</i>
    </div>
{{/if}}
